<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">your_password</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
            <property name="spring.jpa.show-sql">false</property>
            <property name="spring.jpa.hibernate.ddl-auto">update</property>
        <mapping class="org.masonord.delivery.model.CompletedOrder"/>
        <mapping class="org.masonord.delivery.model.Order"/>
        <mapping class="org.masonord.delivery.model.Location"/>
        <mapping class="org.masonord.delivery.model.Customer"/>
        <mapping class="org.masonord.delivery.model.Courier"/>
    </session-factory>
</hibernate-configuration>